* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

:root {
  --light: #f2e6df;
  --mid: #b5bfb0;
  --mid2: #d99e91;
  --dark: #525952;
  --dark2: #a66a5d;
  --white: #ffffff;
  --black: #000000;
}

/*To Top*/
#top {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--mid2);
  z-index: 100;
  right: 4%;
  bottom: 24%;
  position: fixed;
  cursor: pointer;
  text-align: center;
  opacity: 0.5;
  justify-content: center;
  color: var(--dark2);
  border: 4px solid var(--white);
}

#whatsappFixed {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  color: var(--white);
  background-color: green;
  z-index: 100;
  right: 4%;
  bottom: 15%;
  position: fixed;
  cursor: pointer;
  text-align: center;
  opacity: 0.9;
}

/*Header*/
header {
  background-color: var(--light);
}
.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right ul {
  display: flex;
}

.header-right a {
  margin: 1rem;
  color: var(--dark2);
  font-size: 1.8rem;
  transition: 0.5s;
  font-family: "DM Mono", monospace;
}

.header-right a:hover {
  color: var(--mid2);
}

#btn-mobile {
  display: none;
}

/*Banner*/
.banner {
  background-image: url("../images/background-01.jpeg");
  min-height: 80vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h2 {
  color: var(--white);
  font-size: 2.5rem;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10%;
}

/*Services*/
.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  background-color: var(--light);
  max-width: 23%;
  text-align: center;
  margin-top: -15%;
  border-radius: 5%;
  height: 90vh;
  padding: 1% 1%;
}

.title {
  color: var(--dark2);
  font-size: 1.8rem;
}

.line {
  line-height: 4.5rem;
}

.divisor {
  max-width: 50%;
  margin: auto;
  color: var(--dark2);
  border-top: 3px solid #a66a5d;
  margin-top: 5%;
}

.card p {
  padding: 5%;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20%;
  line-height: 2rem;
}

.space1 {
  height: 5.5rem;
}

.space2 {
  height: 2rem;
}

.space3 {
  height: 4rem;
}

.button {
  border: 1px solid #000000;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  color: var(--dark2);
  font-weight: bold;
  transition: 0.5s;
  text-transform: uppercase;
  margin-top: 5rem;
}

.button:hover {
  background-color: var(--mid2);
  color: #34af23;
}

.button i {
  color: #34af23;
}

/*About*/
.about {
  background-image: linear-gradient(90deg, var(--mid), var(--light));
  margin-top: 2rem;
}

.about h2 {
  font-size: 2.5rem;
  color: var(--dark);
  padding: 1.5rem 2rem;
}

.about img {
  max-width: 10rem;
  margin: 0rem 2rem;
  border-radius: 1rem;
}

.about p {
  padding: 2rem 2rem 6rem 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.quotes {
  background-color: var(--dark);
  max-width: 50%;
  font-size: 1.5rem;
  font-style: italic;
  margin: auto;
  margin-top: -4rem;
  padding: 2rem;
  line-height: 2.5rem;
  border-radius: 1rem;
  opacity: 0.9;
}

/*Accordion*/
.inc {
  background-image: linear-gradient(90deg, var(--light), var(--mid));
  display: flex;
  margin-top: 5rem;
}

.inc-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem;
}

.inc-item details {
  width: 25%;
  margin: 1rem auto;
  background-color: var(--mid);
  padding: 1rem;
}

details {
  cursor: pointer;
}

summary {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--dark);
}

.inc-botton {
  background-image: linear-gradient(90deg, var(--light), var(--mid));
  display: flex;
  flex-direction: column;
}

.inc-botton img {
  width: 200px;
  margin: 2rem auto;
}

.inc-botton details {
  width: 90%;
  margin: 1rem auto;
  background-color: var(--mid);
  padding: 1rem;
}

details ul {
  background-color: var(--light);
  padding: 1rem;
}

details ul li {
  font-size: 1.5rem;
}

/* Articles */
.mini-articles {
  background-image: linear-gradient(180deg, var(--mid2), var(--light));
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.articles {
  background-color: var(--light);
  max-width: 40vw;
  margin: 2rem auto;
  padding: 2rem;
  max-height: 70vh;
  overflow: hidden;
}

.articles h2 {
  font-size: 2.5rem;
}

.articles p {
  margin: 2rem 0rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.articles a {
  color: var(--white);
  background-color: var(--dark2);
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  border-radius: 0.2rem;
}

/*Footer*/
footer {
  display: flex;
  background-color: var(--light);
  justify-content: space-around;
  padding: 2rem;
}

.footer-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-item img {
  width: 70%;
}

.whats {
  font-size: 2rem;
  color: var(--dark2);
  margin: 1rem;
}

.zap {
  color: #34af23;
}

.footer-item h2 {
  margin: 1rem;
  font-size: 1.9rem;
}

.footer-item h3 {
  font-size: 1.9rem;
  margin-bottom: 2rem;
}

.dev {
  font-size: 0.8rem;
  color: var(--dark2);
  margin-top: 1rem;
}

.social {
  color: var(--dark2);
  font-size: 2rem;
  font-weight: 800;
}

.color {
  color: var(--dark2);
}

/*Contato*/
.contato {
  margin-top: 2rem;
  text-align: center;
  background-color: #fdfdfd;
}

.contato h2 {
  font-size: 2.5rem;
  padding-top: 2rem;
  color: var(--dark2);
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 40%;
  background-color: #fafafa;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--light);
}

.form input,
.form textarea {
  margin: 1rem auto;
  font-size: 1.2rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  width: 75%;
}

.form input[placeholder],
.form textarea[placeholder] {
  opacity: 0.8;
  font-size: 1rem;
  padding-left: 00.5rem;
}

.form input[type="submit"] {
  background-color: var(--dark2);
}

.form input[type="submit"]:hover {
  cursor: pointer;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.24),
    0 0.5rem 1rem 0 rgba(0, 0, 0, 0.19);
}

/*thanks*/
.tks {
  margin: 2rem auto 2rem;
  text-align: center;
  background-color: #fdfdfd;
}

.tks h2 {
  font-size: 2.5rem;
  padding: 2rem;
  color: var(--dark2);
}

/*Single Article*/
.single {
  margin: 2rem auto;
  background-color: #fafafa;
}

.single h3 {
  padding: 1rem 4rem;
  color: var(--dark);
  font-size: 2rem;
}

.single h4 {
  padding: 1rem 4rem;
  color: var(--mid2);
  font-size: 1rem;
}

.single div {
  padding: 1rem 4rem 4rem;
  font-size: 1rem;
}

.pages {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.pages a {
  color: var(--dark2);
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  /*Global*/
  .container {
    width: 100vw;
  }

  /*To Top*/
  #top {
    display: none;
  }

  #whatsappFixed {
    display: none;
  }

  /*menu*/
  .header-area {
    justify-content: space-around;
    padding: 1rem;
  }

  .header-right ul {
    display: flex;
  }

  .header-right a {
    margin: 1rem;
    color: var(--dark2);
    font-size: 2rem;
    font-weight: 700;
    transition: 0.5s;
  }

  .header-right a:hover {
    color: var(--mid2);
  }

  #btn-mobile {
    display: block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin-right: 1rem;
  }

  .menu {
    flex-direction: column;
    display: block;
    position: absolute;
    width: 100%;
    height: 35%;
    top: 100px;
    right: 0;
    background-color: var(--light);
    z-index: 99;
    transition: 0.4s;
    visibility: hidden;
    overflow-y: hidden;
    margin-top: 2rem;
    opacity: 95%;
    padding: 2rem;
  }

  #navBar.active .menu {
    visibility: visible;
  }

  /*Services*/
  .services {
    flex-direction: column;
  }

  .card {
    min-width: 100%;
    max-height: 75vh;
    margin-bottom: 5rem;
    padding-top: 2rem;
  }

  .card p {
    margin: 0 10% 20%;
  }

  .space1,
  .space2,
  .space3 {
    height: 0;
  }

  /*About*/
  .quotes {
    max-width: 80%;
  }

  /*Accordion*/
  .inc-item {
    flex-direction: column;
  }

  .inc-item details {
    width: 100%;
  }

  /* Articles */
  .mini-articles {
    flex-direction: column;
  }

  .articles {
    max-width: 90vw;
  }

  /*Footer*/
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
  }

  .footer-item {
    width: 100%;
  }
  /*Contato*/
  .form {
    width: 100%;
  }
}
